html,
body {
  max-width: 100vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

aside.rounded {
  border-radius: 10px !important;
}

.btn-noborder {
  border: none;
  background-color: transparent;
}

.btn-editar {
  color: var(--bs-primary);
}

.btn-eliminar {
  color: var(--bs-danger);
}

span.badge-valor {
  font-size: 1rem;
}

header {
  background-color: #262625;
  color: #eee;
}
section aside {
  background-color: #fdfbfb;
}
